.toDo {
  background-color: aqua;
  border: 1px solid white;
  padding: 1em;
}

.toDoComplete {
  background-color: mediumspringgreen;
  border: 1px solid white;
  padding: 1em;
}

.editTaskLink:hover {
  background-color: orange;
}

.deleteTaskLink:hover {
  background-color: red;
}

.addToDoButton {
  padding: 10px 20px;
  background-color: white;
}

.addToDoButton:hover {
  background-color: orange;
}

input:invalid {
  border: 2px solid red;
}
