.toDo {
  background-color: aqua;
  border: 1px solid white;
  padding: 1em;
}

.toDoComplete {
  background-color: mediumspringgreen;
  border: 1px solid white;
  padding: 1em;
}

.editTaskLink:hover {
  background-color: yellow;
}

.deleteTaskLink:hover {
  background-color: red;
}
