.toDo {
  padding-bottom: 1em;
  background-color: aqua;
}

.toDoCompleted {
  padding-bottom: 1em;
  background-color: mediumspringgreen;
}

.completeTaskButton:hover {
  background-color: yellow;
}

.undoTaskButton:hover {
  background-color: orange;
}
